{
  "loadconfig": {
    "experiment": {
      "name": "Log_ES_A10_GK3",
      "Description": "ES",
      "run_for_seconds": 36000 ,
      "changeIndexAfter_these_many_seconds": 10800
    },
    "elasticsearch": {
      "cluster.name": "nameofcluster_change_me",
      "cluster_host_ips": [
        "0.0.0.0"
      ],
      "portnumber":9200,
      "indexName": "index_name_change_name",
      "typeNameOfIndex": "type_name_change_name",
      "numberOfShards":5
    },
    "kafka":{
      "zookeeper":"zkhostname1_change_me:9091,zkhostname1_change_me:9091",
      "fetch.message.max.bytes": 10000,
      "sizeOfBlockingQueue": 300000,
      "groupName":"name_perfLoad"
    },
    "loadproduction":{
    	"path":"/absolute_path_to_data_tobe_ingested"
    },
    "restclient": {
      "threads": 2,
      "sleeptimebetweencalls_in_msec":0,
      "overseerthread":true,
      "load": {
        "docs_in_batch": 100,
        "useRouting":true,
        "total_docs_size_in_a_batch_in_MB": 10
      }
    },
    "esnodeclient": {
    },
    "metricscapture": {
      "timeinterval_fetch_seconds": 120,
      "metricssink": {
        "graphite": {
          "server": "graphite_host_name",
          "port": "2003"
        },
        "csvfolder":"/absolute_path_where_metrics_csv_can_be_generated",
        "file": {
          "prefix": "metricsdata",
          "location": ""
        }
      }
    }
  }
}