{
  "esnodeclient": {
      "cluster.name": "elasticsearch",
      "cluster_host_ips": ["0.0.0.0","1.1.1.1"],
      "nodename":"nodeclientip_21",
      "loglevel":"DEBUG",
      "indexName": "test",
      "typeNameOfIndex": "test",
      "tcpport": 9300,
      "duration_in_minutes":10,
      "network.publish_host":"_non_loopback_",
 	    "transport.tcp.port":"9300",
 	    "network.bind_host":"0.0.0.0"
    }
}
